:where(html) {
    display: grid;
    height: 100vh;
    height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    transition: 1s;

    &-thumb {
        background-color: var(--gray-500);
        background-clip: padding-box;
        border: 2px solid transparent;
        border-radius: 5px;
        transition: 1s;

        &:vertical,
        &:horizontal {
            &:hover {
                background-color: var(--gray-400);
                transition: 0.3s;
            }

            &:active {
                background: var(--gray-300);
            }
        }
    }

    &-track {
        background-color: transparent;
    }

    &-corner {
        background: none;
    }
}
